:root {
	--bg-color: #526c9d;
	--yellow: #ffd302;
	--yellow-dark: #ffba21;
	--blue: #1597d5;
	--blue-dark: #0047ab;
	--red: #ea1d22;
	--red-dark: #660a2f;
}

body {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	background-color: var(--bg-color);
	text-align: center;
}

h1 {
	margin-block: 40px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

h1 svg {
	display: block;
}

footer {
	margin-block: 40px;
	color: var(--blue-dark);
}

footer a {
	color: var(--blue-dark);
}

.game-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}

#mine-count,
#timer {
	color: var(--blue-dark);
	background-color: white;
	border-radius: 8px;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;
}

#board {
	margin-inline: auto;
	width:fit-content;
	display: flex;
	flex-direction: column;
	--gap: 4px;
	gap: var(--gap);
}

#board .row {
	width: auto;
	display: flex;
	gap: var(--gap);
}

#board .cell {
	width: 40px;
	height: 40px;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: var(--blue);
	border-radius: 8px;
	--border: var(--blue-dark);
	border-bottom: 3px solid var(--border);
	transition: all 0.1s;
}

#board .cell:not(.revealed):hover {
	background-color: var(--blue-dark);
}

#board .cell.revealed {
	background-color: var(--yellow);
	--border: var(--yellow-dark);
	cursor: default;
}

#board .cell.flag {
	
}

#board .cell.flag svg {
	color: var(--red);
	filter: drop-shadow(1px 1px 0px var(--red-dark));
}

#board .cell.bomb svg {
	color: var(--red-dark);
	filter: drop-shadow(1px 1px 0px var(--blue-dark));
}
