body {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

#minesweeper {
	
}

#minesweeper .row {
	display: flex;
}

#minesweeper .cell {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

#minesweeper .cell:not(.revealed) {
	cursor: pointer;
}